/*폰트 스타일*/
@font-face {
  font-family: 'PretendardLight';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'PretendardSemiBold';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'PretendardExtraBold';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
}

/*전체 스타일*/
:root {
  /*색상*/
  --mainColor: #111b47;
  --subColor: #505f98;
  --chatMyColor: #f4f4f4;
  --font-Deep-Color: #091133;
  --font-blue-Color: #505f98;

  --main-font-family: 'PretendardLight';
  font-size: 20px;
  font-synthesis: none;

  --font-h4: 32px;
  --font-h5: 24px;
  --font-h6: 20px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  a {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: var(--font-Deep-Color);
  }

  .react-datepicker-popper {
    z-index: 9999;
  }
}
